<tr>
  <td><%= spot.id %></td>
  <td>
    <% if spot.is_reserved? %>
      <%= spot.book_time_end_in_local_time %>
    <% end %>
  </td>
  <td>
    <% if spot.is_reserved? %>
      <%= spot.user.nickname %>
    <% end %>
  </td>
  <% if controller_name == 'main' %>
    <% if current_user.nil? %>
      <td></td>
    <% else %>
      <td><%=  link_to "View & Edit", edit_spot_path(spot) %></td>
    <%end %>
  <% end %>
</tr>