<h5 class="text-light">
  <br>
  <p>
    This website was created in purpose of learning basic Ruby on Rails functionalities and its gems.
    <br><br>
    After singing in you can book virtual parking spot for given amount of time or cancel your reservation. There are bunch of simple registration features implemented with usage of Devise gem:
  <h6> <ul class="text-light">
    <li>Signing up with google or your email</li>
    <li>Mailer set up for email confirmation (check spam folder)</li>
    <li>Resetting password and recovering your account</li>
  </ul> </h6>
  <h5 class="text-light">
  Application features:
  </h5>
  <h6> <ul class="text-light">
    <li>Parking spots and their state displayed on main page</li>
    <li>Reservation of selected parking spot after signing in</li>
    <li>User actions stored in database (postgres) for displaying history of spot actions</li>
    <li>Cancelling a reservation</li>
    <li>Background job for freeing up parking spot after reservation expires (redis + sidekiq)</li>
    <li>Catching emails with mailtrap in development mode</li>
  </ul> </h6>
  </p>

</h5>